<header class="main-container">
  <section class="main-btns">
    <div class="home-icon"></div>

    <div>
      <nav class="menu">
        <p>
          <a
            routerLink="/home"
            class="menu-item"
            [class.active]="activeTab === 'home'"
            (click)="setActiveTab('home')"
          >
            Home
          </a>
        </p>
        <p>
          <a
            routerLink="/extrato"
            class="menu-item"
            [class.active]="activeTab === 'extrato'"
            (click)="setActiveTab('extrato')"
          >
            Extrato
          </a>
        </p>
        <p>
          <a
            routerLink="/gastos"
            class="menu-item"
            [class.active]="activeTab === 'gastos'"
            (click)="setActiveTab('gastos')"
          >
            Gastos
          </a>
        </p>
      </nav>
    </div>
  </section>

  <section class="saldo">
    <p>Saldo: {{ saldoTotal.saldo }}</p>
  </section>
</header>
