.main-container {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  background-color: #fffaf0;
}

.main-btns {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

.home-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f76507;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  color: #f76507;
}

.saldo {
  color: #006992;
  display: flex;
  align-items: center;
}

p {
  font-size: 22px;
}

.menu-item {
  padding: 10px;
  text-decoration: none;
  color: #f76507;
  position: relative;
}

.menu-item.active {
  font-weight: bold;
  border-bottom: 2px solid #f76507;
}

.underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: orange;
  width: 100px;
  transition: left 0.3s ease;
}
