<main class="main-container">
  <!-- Saldo Total -->
  <section class="first">
    <div class="tabela">
      <div class="flex-row">
        <p class="cor-titulo"><strong>Saldo Total:</strong></p>
        <p class="cor-saldo">
          <strong>R$ {{ saldoTotal.saldo }}</strong>
        </p>
      </div>
      <table>
        <tbody>
          <tr *ngFor="let dado of dadosUsuario" class="dados">
            <td>{{ dado.numeroConta }}</td>
            <td>{{ dado.nomeBanco }}</td>
            <td>R$ {{ dado.saldo }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <!-- Atalhos -->
  <section class="atalhos">
    <p class="cor-titulo"><strong>Atalhos</strong></p>
    <div class="itens-container">
      <div class="itens item-content">
        <a routerLink="/home">
          <p>Saldo Total</p>
        </a>
        <a routerLink="/home">
          <span class="material-symbols-outlined">paid</span>
        </a>
      </div>

      <div class="itens item-content">
        <a routerLink="/home">
          <p>Extrato</p>
        </a>
        <a routerLink="/home">
          <span class="material-symbols-outlined">attach_money</span>
        </a>
      </div>

      <div class="itens item-content">
        <a routerLink="/gastos">
          <p>Proventos Recebidos</p>
        </a>
        <a routerLink="/gastos">
          <span class="material-symbols-outlined">money_bag</span>
        </a>
      </div>
    </div>
  </section>
</main>
