body {
  margin: 0;
  padding: 0;
  background-color: #fffaf0;
  font-family: Arial, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px;
}

.tabela {
  padding: 16px 24px;
  border: 8px solid #f76507;
  border-radius: 20px;
  width: 65%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.first {
  display: flex;
  justify-content: center;
  width: 100%;
}

.flex-row {
  display: flex;
  gap: 8px;
}

.cor-titulo {
  color: #f76507;
  font-size: 24px;
}

.cor-saldo {
  color: #006992;
  font-size: 24px;
}

/* Dados das contas */
.dados {
  font-size: 18px;
  color: #006992;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

table {
  width: 100%;
  border-spacing: 0 10px;
}

td {
  text-align: left;
}

.atalhos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.itens-container {
  display: flex;
  gap: 32px;
}

.itens {
  padding: 16px;
  width: 200px;
  height: 120px;
  border-radius: 20px;
  background-color: #f76507;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.itens p {
  margin: 0;
}

.material-symbols-outlined {
  font-size: 48px;
  color: white;
}
