.main-container {
    background-color: #fffaf0;
    gap: 24px;
    display: flex;
    flex-direction: column;
    padding: 24px 32px;
  }

.title{
  color: #f76307; 
  position: relative; 
  align-self: center;
  margin: 12px;
}

.Filtros-gastos-container{
  position: relative;
  border: 8px solid #f76507;
  height: fit-content;
  width: 100%;
  border-radius: 32px;
  align-items: center;
}
.filtro-row{
  width: 33%;
  min-height: 10%;
  height: fit-content;
  position: relative;
  margin: 32px;
}
.div-pie{
    position: relative;
    min-width: 60%;
    min-height: 60%;
    /* width: fit-content;
    height: fit-content; */
    margin: 20px auto;
}

.chart-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 20px auto;
}
.section-default{
    margin: 20px auto;
    width: 100%;
    height: max-content;
    background-color: none;
}

.error-message {
  margin: 20px 0;
  padding: 10px;
  background-color: #ffdddd;
  border: 1px solid #f76307;
  color: #d8000c;
  border-radius: 5px;
  font-size: 14px;
}

  