.main-container {
    background-color: #fffaf0;
    gap: 24px;
    display: flex;
    flex-direction: column;
    padding: 24px 32px;
  }

.title{
  color: #f76307; 
  position: relative; 
  align-self: center;
}

.Filtros-gastos-container{
  position: relative;
  margin: 3%;
  border: 4px #f76307;
  height: fit-content;
  width: 40%;
  align-items: center;
}
.filtro-row{
  width: inherit;
  min-height: 10%;
  height: fit-content;
  position: inherit;
  margin: 64px;
}
.div-pie{
    position: relative;
    min-width: 60%;
    min-height: 60%;
    /* width: fit-content;
    height: fit-content; */
    margin: 20px auto;
}

.chart-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 20px auto;
}
.section-default{
    margin: 20px auto;
    width: 100%;
    height: max-content;
    background-color: none;
}
  