<main class="main-container">
    <section>
        <div>
            <h3 class="title">Distribuição de Gastos</h3>            
        </div>
        
        <div class="div-pie">
            <!-- Usando ViewChild para referenciar o canvas -->
            <canvas #pieChart></canvas>
        </div>
        <div class="Filtros-gastos-container">
            <h4 class="title">Filtros</h4>
            <div class="filtro-row">
                <h5 style="color: #f76307;">Período</h5>
                <input type="date" id="periodoFiltro">
            </div>
            <div class="filtro-row">
                <h5 style="color: #f76307;">Conta</h5>
                <input type="text" id="contaFiltro">
            </div>
        </div>
    </section>

    <section>
        <div *ngFor="let _ of pieChartData; let i = index" class="chart-container">
            <div style="margin: 20px auto;">
                <h3 class="title" [style.color]="pieChartData[i].pieflavor">
                    Gastos Mensais para {{ pieChartData[i].label }} </h3>
            </div>
            <canvas #barChart></canvas>
        </div>    
    </section>

</main>