<main class="main-container">
  <section class="item-container">
    <div>
      <h4>Entradas</h4>
    </div>
    <div class="total-container">
      <p>Total: R$ 12.345,67</p>
    </div>
    <div>
      <div class="background-item">
        <p>+R$200</p>
        <p>Banco Central</p>
      </div>
      <div class="no-background-item"><p>+R$200</p></div>
      <div class="background-item"><p>+R$200</p></div>
      <div class="no-background-item"><p>+R$200</p></div>
      <div class="background-item"><p>+R$200</p></div>
      <div class="no-background-item"><p>+R$200</p></div>
      <div class="background-item"><p>+R$200</p></div>
      <div class="no-background-item"><p>+R$200</p></div>
    </div>
  </section>
  <section class="item-container">
    <div>
      <h4>Saídas</h4>
    </div>
    <div class="total-container">
      <p>Total: R$ 12.345,67</p>
    </div>
    <div></div>
  </section>
</main>
