<main class="main-container">
  <!-- Entradas -->
  <section class="tabela item-container">
    <h4>Entradas</h4>
    <div class="total-container">Total: R$ {{ saldoTotal.saldo }}</div>
    <table>
      <tbody>
        <tr *ngFor="let dado of entradaUsuario" class="dados">
          <td class="background-item">+R$ {{ dado.valorTransacao }}</td>
          <td class="background-item">{{ dado.dataTransacao }}</td>
          <td class="background-item">{{ dado.nomeEmpresa }}</td>
        </tr>
      </tbody>
    </table>
  </section>

  <!-- Saídas -->
  <section class="tabela item-container">
    <h4>Saídas</h4>
    <div class="total-container">Total: R$ {{ saldoTotal.saldo }}</div>
    <table>
      <tbody>
        <tr *ngFor="let dado of saidaUsuario" class="dados">
          <td class="background-item">-R$ {{ dado.valorTransacao }}</td>
          <td class="background-item">{{ dado.dataTransacao }}</td>
          <td class="background-item">{{ dado.nomeEmpresa }}</td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
